@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-page: #f0efef;        /* light blue-gray */
  --bg-surface: #ffffff;
  --primary: #334155;       /* slate-700 */
  --border: #cbd5e1;        /* slate-300 */
  --text-main: #0f172a;     /* slate-900 */
  --text-muted: #64748b;    /* slate-500 */
}
